@font-face {
    font-family: "Arial";
    src: url(fonts/SEGA.ttf) format("truetype");
}

@font-face {
    font-family: "Arcade";
    src: url(fonts/arcade_classic.ttf) format("truetype");
}

#myTable{
    font-family: Arcade;
}

.container-table p {
    color: #ffffff;
    font-size: 80px;
    margin-top: 150px;
    position: fixed;
    top: -20%;
    right: 35%;
    font-family: Arial;
}

#tableScore
table, td {
    margin-left: auto;
    margin-top : 10.5%;
    width : 60%;
    border-collapse: collapse;
    margin-right: auto;
    color: #FFFF00;
    background-color: #000;
    font-family: 'Arcade';
    font-size: 30px;
    cursor: pointer;
    padding: 10px 40px;
}


#btn-sort {
    position: fixed;
    bottom: 8%;
    left: 20%;
    margin: auto;
    visibility: visible;
    color: #000;
    background-color: #FFF;
    font-family: 'Arcade';
    font-size: 30px;
    border: 2px solid #FF0000;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    padding: 10px 40px;
}

#btn-returnMenu {
    position: fixed;
    bottom: 8%;
    right: 40%;
    width : 20%;
    height : 7%;
    margin: auto;
    visibility: visible;
    font-family: 'Arcade';
    -moz-box-shadow: 3px 4px 0px 0px #8a2a21;
    -webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
    box-shadow: 3px 4px 0px 0px #8a2a21;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
    background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
    background-color:#c62d1f;
    -moz-border-radius:18px;
    -webkit-border-radius:18px;
    border-radius:5px;
    border:1px solid #d02718;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:30px;
    padding:7px 25px;
    text-decoration:none;
    text-shadow:0px 1px 0px #810e05;
}

#btn-returnMenu:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
    background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
    background-color:#f24437;
}


#thScore{
    font-family: 'Arcade';
    color: #FF0000;
    font-size: 40px;
    position: relative;
    right: 8%;
}

#thUsern{
    font-family: 'Arcade';
    color: #FF0000;
    font-size: 40px;
    position: relative;
    right: 14%;
}

